

html,
body,
#root,
.App,
.content {
  height: 100%;
  
}

.App {
 
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  flex-direction: column;
}

